<nav>
    <div class="center">
        {{#link-to 'index'}}<h2>Restaurant Name</h2>{{/link-to}}
        <ul>
            <li><a href="#">Chat Now </a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
            <li class="cart"><a href="#">My Cart</a></li>
        </ul>
    </div>
</nav>
<section class="content">
    <div class="center">{{outlet}}</div>
</section>
<footer>
    <div class="center">
        <ul class="social">
            <li><a href="#">@restaurantname</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
        <div class="row">
            <div class="col1">
                <ul>
                    <li>Need Help?</li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Chat With Us</a></li>
                    <li><a href="#">@resturanthelp</a></li>
                    <li><a href="#">help@restaurant.com</a></li>
                </ul>
                <ul>
                    <li>Account</li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li>Social</li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Tumblr Blog</a></li>
                    <li><a href="#">Google Plus</a></li>
                </ul>
                <ul>
                    <li>Gift Cards</li>
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Redeem</a></li>
                </ul>
            </div>
            <div class="col3">
                <ul>
                    <li>Company</li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col4">
                <p>
                    <span>Question about a charge on your card</span>
                    OrderUp® Inc. powers online food ordering and credit card processing for quickservice restaurants. We operate in many markets and under different brand names. <a href="#">Learn More</a>
                </p>
            </div>
        </div>
        <div class="copyright">Copyright 2015 Restaurant Name All rights reserved. <span>Bringing Food to Your Mouth</span></div>
    </div>
</footer>
